<section ng-repeat="story in content">
            
    <!-- STORY -->
	<h2>{{ story.name }}</h2>
    
    <div style="display: flex; margin-top: 1em;">
    
        <!-- STORY IDEA -->
        <div ng-repeat="idea in story.ideas" style="margin-right: 2em;">

            <!-- TITLE/DESCRIPTION -->
            <h3 style="font-weight: 700;">{{ idea.name }}<span style="font-size: 0.75em;font-weight: 400;margin-left: 0.5em;">{{ '(' + idea.label + ')' }}</span></h3>
            <p>{{ idea.description }}</p>

            <!-- IDEA ACTIONS -->
            <story-controls controls="idea.controls"></story-controls>

        </div>
        
    </div>
    
    <!-- VISUALIZATION -->
    <ui-view name="visual"></ui-view>

</section>